<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Task</title>
    <link rel="stylesheet" href="/static/CreateTaskStyle.css">
</head>
<body>
    <div class="header">
        <p>Logo</p>
        <p>Tasks</p>
        <p>Events</p>
        <p>Hello, Subu</p>
        <p>Sign Out</p>
    </div>
    <div class="titleCreate">
        <h1>Create your task!</h1>
    </div>
    <div class="userInput" action="" onsubmit="">
        <form action="GET">
            <div>
                <label for="email">Title:</label>
                <input 
                type="text"
                id="title"
                name="title"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Due Date:</label>
                <input 
                type="text"
                id="duedate"
                name="duedate"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Description:</label>
                <input 
                type="text"
                id="Description"
                name="Description"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Users:</label>
                <input 
                type="text"
                id="users"
                name="users"
                placeholder=""
                />
            </div>
            <button type="submit" id="back">Back</button>
            <button type="submit" id="create">Create</button>
        </form>
    </div>
</body>
</html>