<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->

    <title>PUT YOUR TITLE HERE</title>
</head>
<body>
    <%- include("partials/navbar"); %> <!-- you might need to change this too -->
    
    PUT YOUR STUFF RIGHT HERE
    <p>Hello World</p>

    <%- include("partials/footer"); %> <!-- and this too -->
</body>
</html>