<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/CreateTaskStyle.css">
</head>
<body>
    <div class="header">
        <p>Logo</p>
        <p>Tasks</p>
        <p>Events</p>
        <p>Hello, Subu</p>
        <p>Sign Out</p>
    </div>
    <div class="title">
        <h1>Hello, Subu!</h1>
    </div>
    <div class="info">
            <p>Username:</p>
            <p>SubuK123</p>
            <p>First Name:</p>
            <p>Subu</p>
            <p>Last Name:</p>
            <p>Kandaswamy</p>
            <p>Email:</p>
            <p>subukandaswamy@gmail.com</p>
            <p>Phone Number:</p>
            <p>123-456-7890</p>
    </div>
</body>
</html>