<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/static/CreateTaskStyle.css">
</head>
<body>
    <div class="header">
        <p>Logo</p>
        <p>Tasks</p>
        <p>Events</p>
        <p>Hello, Subu</p>
        <p>Sign Out</p>
    </div>
    <div class="titleReg">
        <h1>Registration</h1>
    </div>
    <div class="reguserInput" action="" onsubmit="">
        <form action="GET">
            <div>
                <label for="email">First Name:</label>
                <input 
                type="text"
                id="firstName"
                name="firstName"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Last Name:</label>
                <input 
                type="text"
                id="lastName"
                name="lastName"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Username:</label>
                <input 
                type="text"
                id="userName"
                name="userName"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Password:</label>
                <input 
                type="text"
                id="password"
                name="password"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Re-enter Password:</label>
                <input 
                type="text"
                id="repassword"
                name="repassword"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Email:</label>
                <input 
                type="text"
                id="email"
                name="email"
                placeholder=""
                />
            </div>
            <div>
                <label for="email">Phone:</label>
                <input 
                type="text"
                id="phone"
                name="phone"
                placeholder=""
                />
            </div>
            <button type="submit" id="create">Register</button>
        </form>
    </div>
</body>
</html>