</div>
<footer id="footer">
    <div class="footer">
        <img src="/static/jamal_time_logo.png" alt="Jamal Time Logo" width="20" height="20">
        <span class="ml-1 mr-1">Copyright © 2024 Jamal Time. All Rights Reserved.</span>        
        <img src="/static/jamal_time_logo.png" alt="Jamal Time Logo" width="20" height="20">
    </div>
</footer>
</div>