<div id="page-container">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(102, 0, 0);">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="/static/jamal_time_logo.png" alt="Jamal Time Logo" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if (isAuthenticated) { %>
                    <li class="nav-item">
                        <a href="/tasks" class="nav-link active">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a href="/events" class="nav-link active">Events</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="d-flex">
            <% if (isAuthenticated) { %>
                <div class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle" style="color:white;" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Hello, <%= user.firstName %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a href="/tasks/" class="dropdown-item">Tasks</a></li>
                        <li><a href="/events/" class="dropdown-item">Events</a></li>
                        <% if (user.administrator) { %>
                            <li><hr class="dropdown-divider"></li>
                            <li><a href="/admin" class="dropdown-item">Admin Panel</a></li>
                        <% } %>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                </div>
            <% } else { %>
                <a href="/auth/login" class="navbar-text nav-link">Sign Up / Login</a>
            <% } %>
        </div>
    </div>
</nav>
<div id="content-wrap">