.header {
    display: grid;
    grid-template-columns: 100px 100px 870px 110px 100px;
    grid-gap: 20px;
    background-color: rgb(102, 0, 0);
    color: white;
    font-size:2cap;
    padding-left: 80px ;
}
.title{
    font-size: 2em;
    padding-left: 580px;
}
.titleReg{
    font-size: 2em;
    padding-left: 590px;
}
.titleCreate{
    font-size: 2em;
    padding-left: 510px;
}
.userInput{
    font-size:1.7em;
    padding-left: 400px;
}
.reguserInput{
    font-size:1.7em;
    padding-left: 540px;
}
#create{
    margin-left: 500px;
    margin-top: 50px;
}


.info{
    display: grid;
    grid-template-columns: 145px 200px;
    padding-left: 590px;
    font-size: 1.2em;
    font-weight: 600;
    outline-style: solid;
}
