<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->

    <title>User List</title>
</head>
<body>
    <%- include("../partials/navbar"); %> <!-- you might need to change this too -->
    
    <div class="container mt-5">
        <h1>User List</h1>
        
    </div>

    <%- include("../partials/footer"); %> <!-- and this too -->
</body>
</html>